.github
.vite/*
.vscode

coverage
node_modules
public/build
public/hot
public/storage
public/manifest.json
storage/*.key
storage/pail
storage/app
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar
bootstrap/cache/services.php
bootstrap/cache/packages.php
data
vendor

.dockerignore
.editorconfig
.env
.env.production
.env.backup
.gitattributes
.gitignore
.phpunit.result.cache
.prettierignore
.prettierrc.json
.sonarcloud.properties
*.sh
*.bat
*.ps1
commands.txt
docker-compose.yaml
Dockerfile
DockerfileLite
phpunit.xml
pint.json
README.md


!storage/app/public/avatars/default.jpg
!storage/app/public/thumbnails/default.webp
