.vite/*
.vscode
.phpunit.cache
public/build
public/hot
public/storage/
storage/*.key
storage/pail


storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar/

bootstrap/cache/services.php
vendor
node_modules
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.prettierignore
.prettierrc.json
.editorconfig
.dockerignore
.gitignore
.git
.git/


pint.json
commands.txt
readme.md

Dockerfile
docker-compose.yml
setup.*
