services:
  app: &app
    image: aminnausin/mediaserver:${DOCKER_RELEASE:-latest}
    container_name: mediaserver
    volumes:
      - ./app:/var/www/html/storage/app/private
      - ./data:/var/www/html/storage/app/public
      - ./docker/etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./logs/mediaServer:/var/www/html/storage/logs
      - ./logs/nginx:/var/log/nginx
      - shared-env:/var/www/html/shared
    ports:
      - '${APP_PORT:-8084}:8080'
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - HEALTHCHECK_PATH=/up
    restart: unless-stopped
    healthcheck:
      test: curl --insecure --silent --location --show-error --fail http://localhost:8080${HEALTHCHECK_PATH:-/up} || exit 1
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    networks:
      web:
      services:
        aliases:
          - ${APP_HOST:-app.test}
  scheduler:
    <<: *app
    container_name: laravel-scheduler
    command: ['php', '/var/www/html/artisan', 'schedule:work']
    init: true
    environment:
      - LOG_FILENAME=laravel-scheduler.log
    ports: []
    stop_grace_period: 5s
    stop_signal: SIGTERM
    depends_on:
      app:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'healthcheck-schedule']
    networks:
      services:
        aliases: []
    labels: []
  ws:
    <<: *app
    container_name: ws
    command: php artisan reverb:start
    init: true
    ports: []
    expose:
      - 6001
    environment:
      - LOG_FILENAME=laravel-ws.log
    stop_grace_period: 5s
    stop_signal: SIGTERM
    healthcheck:
      test: ["CMD", "healthcheck-reverb"]
      start_period: 10s
    networks:
      services:
        aliases:
          - ws.${APP_HOST:-app.test}
    labels: []
  pulse:
    <<: *app
    container_name: laravel-pulse
    command: ['php', '/var/www/html/artisan', 'pulse:work']
    init: true
    environment:
      - LOG_FILENAME=laravel-pulse.log
    ports: []
    stop_grace_period: 5s
    stop_signal: SIGTERM
    depends_on:
      app:
        condition: service_healthy
    healthcheck:
      disable: true
    networks:
      services:
        aliases: []
    labels: []
  horizon:
    <<: *app
    container_name: horizon
    command: ["php", "/var/www/html/artisan", "horizon"]
    init: true
    environment:
      - LOG_FILENAME=laravel-horizon.log
      - REVERB_PORT=6001
      - REVERB_HOST=ws.${APP_HOST:-app.test}
      - REVERB_SCHEME=http
    stop_signal: SIGTERM
    depends_on:
      app:
        condition: service_healthy
    ports: []
    expose: []
    healthcheck:
      test: ["CMD", "healthcheck-horizon"]
      start_period: 10s
    networks:
      services:
        aliases: []
    labels: []
  postgres:
    image: ${POSTGRES_IMAGE:-bitnamilegacy/postgresql:17.6.0}
    container_name: database
    platform: linux/amd64
    restart: always
    volumes:
      - db-data:/bitnami/postgresql
    environment:
      - POSTGRESQL_DATABASE=${DB_DATABASE:-mediaServer}
      - POSTGRESQL_USERNAME=${DB_USERNAME:-postgres}
      - POSTGRESQL_PASSWORD=${DB_PASSWORD:-root}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USERNAME:-postgres}', '-d', '${DB_DATABASE:-mediaServer}']
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      - services
  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    command: "redis-server --appendonly yes --requirepass ${REDIS_PASSWORD:-phpredis}"
    volumes:
      - redis-data:/data
    networks:
      - services
volumes:
  redis-data:
    driver: local
  db-data:
    driver: local
  shared-env:
    external: true
    name: mediaserver-shared-env

networks:
  web:
    driver: bridge
  services:
    driver: bridge
    internal: true
