:80 {
    root * /var/www/html/public
    encode gzip

    php_fastcgi app:9000

    # Serve static files
    file_server

    # Handle errors by rewriting to index.php for specific paths
    @notFound {
        path /{*,*.php}
    }

    handle_errors {
        rewrite * /index.php
    }

    # Optional: Log requests for debugging
    log {
        output file /var/log/caddy.log
        level debug
    }

    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }

    reverse_proxy @ws ws
    reverse_proxy app

    tls /var/lib/acme/app.test/cert.pem /var/lib/acme/app.test/key.pem {
        protocols tls1.3
    }
}
