app.test {

    log {
        format console
        level INFO
        output file /var/log/caddy/caddy-access.log
    }

    reverse_proxy app:8080

    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    tls internal
}
