name: Code Test

on:
  pull_request:
    branches: [ 'main' ]

jobs:
  run-tests:
    permissions:
      contents: write
    strategy:
      fail-fast: true
    uses: ./.github/workflows/tests.yml
    with:
      branch: main
