name: Code Test

on:
  pull_request:
    branches-ignore:
    - prod
    paths-ignore:
    - '**.md'

jobs:
  run-tests:
    permissions:
      contents: write
    strategy:
      fail-fast: true
    uses: ./.github/workflows/tests.yml
